/*
body, html {
	height: 100%;
    background: #817aca;
    overflow-y: auto;
}
*/
.page-list {
  /*background: #817aca;*/
  /*padding: 30px 0;*/
}
.list-item {
	background: rgba(255,255,255,.2);
	/*border-bottom: 2px solid rgba(133, 128, 201,1);*/
}
/*.list-item .glyphicon {
	font-size: 22px;
	color: rgba(255,255,255,.7);
}*/
.list-item-info {
    padding-left: 0px;
	
}
.list-item-img {

}
.list-item-text a {
	/*padding: 18px 0;*/
}
.list-item-text a:hover, .list-item-text a:visited {
	color: black;
}
/*.list-item-text {*/
/*  padding-right:30px;
  padding-left:0px;*/
  /*padding-top:30px;*/
  /* padding-bottom: 30px; */
/*}*/
.list-item-info p.title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.list-item-info p {
	color: #3c3a43;
	margin: 0;
	overflow: hidden;
	max-height: 3.3em;
	/* font-size: 18px; */
}
.list-item-info .title a {
	color: white;
	line-height: 1.6;
	font-family: 'HelveticaNeue Medium';
	/* font-size: 22px; */
}
.list-item-info .title a:hover {
	color: rgba(255,255,255,.7);
}

.course-thumb {
	  display: block;
	  width: 100%;
	  min-height: 70px;
}