#btnClearAll {
	background: #9894C4;
	text-align: center;
	border-radius: 0px;
	width: 76%;
	margin-left: 12%;
	margin-right: 12%;
	margin-top: 12px;
 	margin-bottom: 20px;
	color:#fff;
  	/*margin-top: 37px;
  	margin-bottom: 37px;*/
}

#my-ingredients .item {
	background: #8782BF;
	border-bottom: solid 1px #7D77C5;
	text-align: left;
	padding: 0px;
	/*height: 45px;*/
}

#my-ingredients .item label{
	margin-left: 12%;
	height: auto;
	line-height: 1;
	/*padding: 1px 0;*/
	margin-top: 5px;
/*	height: 45px;
	line-height: 45px;*/
}
#my-ingredients .item .btnDelete {
	background: #CE0E1C;
	text-align: center;
	width: 100px;
	height: auto;
	margin-right: 15px;
	border-radius: 0px;	
	float: right;
	color: #fff;
	/*height: 45px;*/
}

#my-ingredients .no-items {
	margin-left: 8%;
	margin-right: 8%;
	margin-top: 8%;
}