
/* Search */
.inner-addon {
    position: relative;
}
.inner-addon input {
    padding-left: 35px;
    font-size: 16px;
    padding-top: 10px;  
}
.inner-addon span {
    position: absolute;
    padding: 8px 12px;
    pointer-events: none;
    color: rgb(196, 196, 196);
}

.right-inner-addon span {
    right: 0px;
}